<h2>PySpark Handling Missing Values</h2>
Dropping Columns
<br>Dropping Rows
<br>Various Prameters in Dropping Functionalities
<br>Handling Missing Values by Mean/Average, Median, Mode

In [1]:
from pyspark.sql import SparkSession as SS
spark = SS.builder.appName('HMV').getOrCreate()

In [2]:
spark

In [3]:
df_spark = spark.read.csv('city_day.csv',header=True,inferSchema=True)

In [4]:
df_spark.show()

+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+----------+
|     City|      Date|PM25|PM10|    NO|  NO2|   NOx| NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene| AQI|AQI_Bucket|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+----------+
|Ahmedabad|2015-01-01|NULL|NULL|  0.92|18.22| 17.15|NULL|  0.92|27.64|133.36|    0.0|   0.02|   0.0|NULL|      NULL|
|Ahmedabad|2015-01-02|NULL|NULL|  0.97|15.69| 16.46|NULL|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|NULL|      NULL|
|Ahmedabad|2015-01-03|NULL|NULL|  17.4| 19.3|  29.7|NULL|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|NULL|      NULL|
|Ahmedabad|2015-01-04|NULL|NULL|   1.7|18.48| 17.97|NULL|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|NULL|      NULL|
|Ahmedabad|2015-01-05|NULL|NULL|  22.1|21.42| 37.76|NULL|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|NULL|      NULL|
|Ahmedabad|2015-01-06|NULL|NULL| 45.41|38.48|  81.5|NULL| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|NULL|      NULL|
|Ahmedabad|2015-01-07|NULL|NULL|112.16|40.62|130.77|NULL|112.16|32.28| 33.47|    0.0|    0.0|   0.0|NULL|      NULL|
|Ahmedabad|2015-01-08|NULL|NULL| 80.87|36.74| 96.75|NULL| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|NULL|      NULL|
|Ahmedabad|2015-01-09|NULL|NULL| 29.16| 31.0|  48.0|NULL| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|NULL|      NULL|
|Ahmedabad|2015-01-10|NULL|NULL|  NULL| 7.04|   0.0|NULL|  NULL| 8.29|  4.55|    0.0|    0.0|   0.0|NULL|      NULL|
|Ahmedabad|2015-01-11|NULL|NULL|132.07| 55.8| 24.53|NULL|132.07|25.03|  6.79|    0.0|    0.0|   0.0|NULL|      NULL|
|Ahmedabad|2015-01-12|NULL|NULL| 52.04|40.67| 90.24|NULL| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|NULL|      NULL|
|Ahmedabad|2015-01-13|NULL|NULL| 48.82| 44.2| 87.09|NULL| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|NULL|      NULL|
|Ahmedabad|2015-01-14|NULL|NULL|  19.2|27.86| 33.05|NULL|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|NULL|      NULL|
|Ahmedabad|2015-01-15|NULL|NULL|   0.6|16.96|  16.6|NULL|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|NULL|      NULL|
|Ahmedabad|2015-01-16|NULL|NULL|  1.63|21.72| 22.86|NULL|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|NULL|      NULL|
|Ahmedabad|2015-01-17|NULL|NULL| 11.44|24.73| 34.75|NULL| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|NULL|      NULL|
|Ahmedabad|2015-01-18|NULL|NULL|   6.1|25.77| 29.57|NULL|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|NULL|      NULL|
|Ahmedabad|2015-01-19|NULL|NULL|  2.51|26.88| 27.45|NULL|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|NULL|      NULL|
|Ahmedabad|2015-01-20|NULL|NULL|  7.92| 26.8|  32.4|NULL|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|NULL|      NULL|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+----------+
only showing top 20 rows

In [5]:
# Dropping Cloumn by name
df_spark = df_spark.drop('AQI_Bucket')

In [6]:
df_spark.show()

+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|     City|      Date|PM25|PM10|    NO|  NO2|   NOx| NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene| AQI|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|Ahmedabad|2015-01-01|NULL|NULL|  0.92|18.22| 17.15|NULL|  0.92|27.64|133.36|    0.0|   0.02|   0.0|NULL|
|Ahmedabad|2015-01-02|NULL|NULL|  0.97|15.69| 16.46|NULL|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|NULL|
|Ahmedabad|2015-01-03|NULL|NULL|  17.4| 19.3|  29.7|NULL|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|NULL|
|Ahmedabad|2015-01-04|NULL|NULL|   1.7|18.48| 17.97|NULL|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|NULL|
|Ahmedabad|2015-01-05|NULL|NULL|  22.1|21.42| 37.76|NULL|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|NULL|
|Ahmedabad|2015-01-06|NULL|NULL| 45.41|38.48|  81.5|NULL| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|NULL|
|Ahmedabad|2015-01-07|NULL|NULL|112.16|40.62|130.77|NULL|112.16|32.28| 33.47|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-08|NULL|NULL| 80.87|36.74| 96.75|NULL| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-09|NULL|NULL| 29.16| 31.0|  48.0|NULL| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-10|NULL|NULL|  NULL| 7.04|   0.0|NULL|  NULL| 8.29|  4.55|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-11|NULL|NULL|132.07| 55.8| 24.53|NULL|132.07|25.03|  6.79|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-12|NULL|NULL| 52.04|40.67| 90.24|NULL| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|NULL|
|Ahmedabad|2015-01-13|NULL|NULL| 48.82| 44.2| 87.09|NULL| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|NULL|
|Ahmedabad|2015-01-14|NULL|NULL|  19.2|27.86| 33.05|NULL|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|NULL|
|Ahmedabad|2015-01-15|NULL|NULL|   0.6|16.96|  16.6|NULL|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|NULL|
|Ahmedabad|2015-01-16|NULL|NULL|  1.63|21.72| 22.86|NULL|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|NULL|
|Ahmedabad|2015-01-17|NULL|NULL| 11.44|24.73| 34.75|NULL| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|NULL|
|Ahmedabad|2015-01-18|NULL|NULL|   6.1|25.77| 29.57|NULL|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|NULL|
|Ahmedabad|2015-01-19|NULL|NULL|  2.51|26.88| 27.45|NULL|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|NULL|
|Ahmedabad|2015-01-20|NULL|NULL|  7.92| 26.8|  32.4|NULL|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|NULL|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
only showing top 20 rows

In [7]:
# Dropping Rows with NULL values using how={'all','any'} DEFAULT-'any'
df_spark.na.drop(how='any').show()
df_spark.na.drop().count()

+---------+----------+------+------+----+-----+-----+-----+----+-----+------+-------+-------+------+-----+
|     City|      Date|  PM25|  PM10|  NO|  NO2|  NOx|  NH3|  CO|  SO2|    O3|Benzene|Toluene|Xylene|  AQI|
+---------+----------+------+------+----+-----+-----+-----+----+-----+------+-------+-------+------+-----+
|Amaravati|2017-11-25|  81.4| 124.5|1.44| 20.5|12.08|10.72|0.12|15.24|127.09|    0.2|    6.5|  0.06|184.0|
|Amaravati|2017-11-26| 78.32|129.06|1.26| 26.0|14.85|10.28|0.14|26.96|117.44|   0.22|   7.95|  0.08|197.0|
|Amaravati|2017-11-27| 88.76|135.32| 6.6|30.85|21.77|12.91|0.11|33.59|111.81|   0.29|   7.63|  0.12|198.0|
|Amaravati|2017-11-28| 64.18|104.09|2.56|28.07|17.01|11.42|0.09| 19.0|138.18|   0.17|   5.02|  0.07|188.0|
|Amaravati|2017-11-29| 72.47|114.84|5.23| 23.2|16.59|12.25|0.16|10.55|109.74|   0.21|   4.71|  0.08|173.0|
|Amaravati|2017-11-30|  69.8|114.86|4.69|20.17|14.54|10.95|0.12|14.07|118.09|   0.16|   3.52|  0.06|165.0|
|Amaravati|2017-12-01| 73.96|113.56|4.58|19.29|13.97|10.95| 0.1| 13.9| 123.8|   0.17|   2.85|  0.04|191.0|
|Amaravati|2017-12-02|  89.9| 140.2|7.71|26.19|19.87|13.12| 0.1|19.37|128.73|   0.25|   2.79|  0.07|191.0|
|Amaravati|2017-12-03| 87.14|130.52|0.97|21.31|12.12|14.36|0.15|11.41| 114.8|   0.23|   3.82|  0.04|227.0|
|Amaravati|2017-12-04| 84.64| 125.0|4.02|26.98|17.58|14.41|0.18| 9.84|112.41|   0.31|   3.53|  0.09|168.0|
|Amaravati|2017-12-05| 88.36|121.77| 3.7|20.23|13.75|13.72|0.12|14.02|117.93|   0.24|   2.92|  0.03|198.0|
|Amaravati|2017-12-06| 96.83|139.36| 1.6|25.65|14.99|15.12|0.11|16.54|117.21|   0.29|   4.45|  0.07|201.0|
|Amaravati|2017-12-07|117.46|181.64|4.26| 41.1|25.32|17.34|0.13|28.79| 94.63|   0.36|   6.21|  0.17|252.0|
|Amaravati|2017-12-08|122.88|208.86|5.56|54.87|33.71|17.96|0.27|22.97|  68.6|   0.36|   6.28|  0.21|310.0|
|Amaravati|2017-12-09| 74.28|141.22| 6.1|44.97|28.88|15.73|0.09| 21.9| 60.62|   0.26|   4.79|  0.16|196.0|
|Amaravati|2017-12-10| 50.32|102.77|1.73|33.85|19.41|12.56| 0.1|13.65| 68.15|    0.2|   4.29|   0.1|132.0|
|Amaravati|2017-12-11| 58.47|115.27|4.93|41.64|26.15| 15.2|0.16|18.37| 73.75|   0.23|   5.51|  0.16|147.0|
|Amaravati|2017-12-12| 89.35|131.48|7.97| 42.1|28.88|21.24|0.24| 7.42| 44.67|   0.28|   7.01|  0.19|179.0|
|Amaravati|2017-12-13| 64.42| 99.74| 7.2|34.78|24.36|17.63|0.15| 5.81| 50.16|   0.24|   6.11|  0.14|145.0|
|Amaravati|2017-12-14|  69.4| 98.94|5.81|29.97|20.67|19.34|0.14|  5.8|  55.0|   0.23|   5.09|  0.14|115.0|
+---------+----------+------+------+----+-----+-----+-----+----+-----+------+-------+-------+------+-----+
only showing top 20 rows

6236

In [8]:
df_spark.na.drop(how='all').show()
df_spark.na.drop(how='all').count()

+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|     City|      Date|PM25|PM10|    NO|  NO2|   NOx| NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene| AQI|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|Ahmedabad|2015-01-01|NULL|NULL|  0.92|18.22| 17.15|NULL|  0.92|27.64|133.36|    0.0|   0.02|   0.0|NULL|
|Ahmedabad|2015-01-02|NULL|NULL|  0.97|15.69| 16.46|NULL|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|NULL|
|Ahmedabad|2015-01-03|NULL|NULL|  17.4| 19.3|  29.7|NULL|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|NULL|
|Ahmedabad|2015-01-04|NULL|NULL|   1.7|18.48| 17.97|NULL|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|NULL|
|Ahmedabad|2015-01-05|NULL|NULL|  22.1|21.42| 37.76|NULL|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|NULL|
|Ahmedabad|2015-01-06|NULL|NULL| 45.41|38.48|  81.5|NULL| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|NULL|
|Ahmedabad|2015-01-07|NULL|NULL|112.16|40.62|130.77|NULL|112.16|32.28| 33.47|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-08|NULL|NULL| 80.87|36.74| 96.75|NULL| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-09|NULL|NULL| 29.16| 31.0|  48.0|NULL| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-10|NULL|NULL|  NULL| 7.04|   0.0|NULL|  NULL| 8.29|  4.55|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-11|NULL|NULL|132.07| 55.8| 24.53|NULL|132.07|25.03|  6.79|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-12|NULL|NULL| 52.04|40.67| 90.24|NULL| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|NULL|
|Ahmedabad|2015-01-13|NULL|NULL| 48.82| 44.2| 87.09|NULL| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|NULL|
|Ahmedabad|2015-01-14|NULL|NULL|  19.2|27.86| 33.05|NULL|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|NULL|
|Ahmedabad|2015-01-15|NULL|NULL|   0.6|16.96|  16.6|NULL|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|NULL|
|Ahmedabad|2015-01-16|NULL|NULL|  1.63|21.72| 22.86|NULL|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|NULL|
|Ahmedabad|2015-01-17|NULL|NULL| 11.44|24.73| 34.75|NULL| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|NULL|
|Ahmedabad|2015-01-18|NULL|NULL|   6.1|25.77| 29.57|NULL|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|NULL|
|Ahmedabad|2015-01-19|NULL|NULL|  2.51|26.88| 27.45|NULL|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|NULL|
|Ahmedabad|2015-01-20|NULL|NULL|  7.92| 26.8|  32.4|NULL|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|NULL|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
only showing top 20 rows

29531

In [9]:
df_spark.count()

29531

In [10]:
# Dropping Rows with Threshold ie. minimum no. of non null values
df_spark.na.drop(how='any',thresh = 5).show()
print(df_spark.na.drop(how='any',thresh = 5).count())
print(len(df_spark.columns))

+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|     City|      Date|PM25|PM10|    NO|  NO2|   NOx| NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene| AQI|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|Ahmedabad|2015-01-01|NULL|NULL|  0.92|18.22| 17.15|NULL|  0.92|27.64|133.36|    0.0|   0.02|   0.0|NULL|
|Ahmedabad|2015-01-02|NULL|NULL|  0.97|15.69| 16.46|NULL|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|NULL|
|Ahmedabad|2015-01-03|NULL|NULL|  17.4| 19.3|  29.7|NULL|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|NULL|
|Ahmedabad|2015-01-04|NULL|NULL|   1.7|18.48| 17.97|NULL|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|NULL|
|Ahmedabad|2015-01-05|NULL|NULL|  22.1|21.42| 37.76|NULL|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|NULL|
|Ahmedabad|2015-01-06|NULL|NULL| 45.41|38.48|  81.5|NULL| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|NULL|
|Ahmedabad|2015-01-07|NULL|NULL|112.16|40.62|130.77|NULL|112.16|32.28| 33.47|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-08|NULL|NULL| 80.87|36.74| 96.75|NULL| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-09|NULL|NULL| 29.16| 31.0|  48.0|NULL| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-10|NULL|NULL|  NULL| 7.04|   0.0|NULL|  NULL| 8.29|  4.55|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-11|NULL|NULL|132.07| 55.8| 24.53|NULL|132.07|25.03|  6.79|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-12|NULL|NULL| 52.04|40.67| 90.24|NULL| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|NULL|
|Ahmedabad|2015-01-13|NULL|NULL| 48.82| 44.2| 87.09|NULL| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|NULL|
|Ahmedabad|2015-01-14|NULL|NULL|  19.2|27.86| 33.05|NULL|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|NULL|
|Ahmedabad|2015-01-15|NULL|NULL|   0.6|16.96|  16.6|NULL|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|NULL|
|Ahmedabad|2015-01-16|NULL|NULL|  1.63|21.72| 22.86|NULL|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|NULL|
|Ahmedabad|2015-01-17|NULL|NULL| 11.44|24.73| 34.75|NULL| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|NULL|
|Ahmedabad|2015-01-18|NULL|NULL|   6.1|25.77| 29.57|NULL|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|NULL|
|Ahmedabad|2015-01-19|NULL|NULL|  2.51|26.88| 27.45|NULL|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|NULL|
|Ahmedabad|2015-01-20|NULL|NULL|  7.92| 26.8|  32.4|NULL|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|NULL|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
only showing top 20 rows

27851
15

In [11]:
# Dropping Rows with Subset='column name' ie. from a attribute like axis=columns in pandas
df_spark.na.drop(how='any',subset='PM25').show()
print(df_spark.na.drop(how='any',subset=['PM25']).count())
print(len(df_spark.columns))

+---------+----------+------+----+-----+-----+-----+----+-----+-----+------+-------+-------+------+-----+
|     City|      Date|  PM25|PM10|   NO|  NO2|  NOx| NH3|   CO|  SO2|    O3|Benzene|Toluene|Xylene|  AQI|
+---------+----------+------+----+-----+-----+-----+----+-----+-----+------+-------+-------+------+-----+
|Ahmedabad|2015-01-28| 73.24|NULL| 5.72|21.11|25.84|NULL| 5.72|36.52| 62.42|   0.03|   0.01|  1.41| NULL|
|Ahmedabad|2015-01-29| 83.13|NULL| 6.93|28.71|33.72|NULL| 6.93|49.52| 59.76|   0.02|    0.0|  3.14|209.0|
|Ahmedabad|2015-01-30| 79.84|NULL|13.85|28.68|41.08|NULL|13.85|48.49| 97.07|   0.04|    0.0|  4.81|328.0|
|Ahmedabad|2015-01-31| 94.52|NULL|24.39|32.66|52.61|NULL|24.39|67.39|111.33|   0.24|   0.01|  7.67|514.0|
|Ahmedabad|2015-02-01|135.99|NULL|43.48|42.08|84.57|NULL|43.48|75.23| 102.7|    0.4|   0.04| 25.87|782.0|
|Ahmedabad|2015-02-02|178.33|NULL|54.56|35.31| 72.8|NULL|54.56|55.04|107.38|   0.46|   0.06| 35.61|914.0|
|Ahmedabad|2015-02-03| 139.7|NULL|30.61| 28.4|56.73|NULL|30.61|33.79|  73.6|   0.17|   0.03| 11.87|660.0|
|Ahmedabad|2015-02-04| 80.65|NULL| 2.37|22.83| 24.0|NULL| 2.37|25.73|  47.3|    0.0|    0.0|   0.0|294.0|
|Ahmedabad|2015-02-05| 58.36|NULL|  2.6|21.39|23.31|NULL|  2.6|32.66| 53.54|    0.0|    0.0|   0.0|149.0|
|Ahmedabad|2015-02-06| 79.29|NULL| 1.16|26.94|26.83|NULL| 1.16|67.41|  59.3|    0.0|    0.0|   0.0|190.0|
|Ahmedabad|2015-02-07|  88.7|NULL| 7.29|31.32|37.73|NULL| 7.29|80.09| 44.76|    0.0|    0.0|   0.0|247.0|
|Ahmedabad|2015-02-08| 74.28|NULL| 8.92| 27.3|33.42|NULL| 8.92|54.28| 47.42|    0.0|    0.0|  0.27|379.0|
|Ahmedabad|2015-02-09|113.93|NULL| 4.32|24.27|26.86|NULL| 4.32|48.73| 39.94|   0.02|    0.0|  3.55|341.0|
|Ahmedabad|2015-02-10|105.39|NULL| 1.41|18.21|18.75|NULL| 1.41|35.91| 56.15|    0.0|    0.0|  3.31|256.0|
|Ahmedabad|2015-02-11| 66.52|NULL| 6.34| 23.8|28.24|NULL| 6.34|66.58| 53.14|    9.7|   9.63| 16.49|388.0|
|Ahmedabad|2015-02-12| 65.04|NULL|14.19| 30.1|44.21|NULL|14.19|65.91| 31.88|   7.72|  17.46|  2.51|288.0|
|Ahmedabad|2015-02-13|103.36|NULL|18.18|39.56|57.33|NULL|18.18|80.43| 40.11|  11.29|  24.35|  3.35|510.0|
|Ahmedabad|2015-02-14|177.33|NULL|37.49|47.58|77.85|NULL|37.49|99.72| 36.47|   17.0|  52.66|  6.98|761.0|
|Ahmedabad|2015-02-15|113.25|NULL|15.55| 30.5|44.87|NULL|15.55|69.71| 33.78|  10.47|  28.53|  3.22|475.0|
|Ahmedabad|2015-02-16|  99.7|NULL|19.85| 28.1|47.31|NULL|19.85|73.23| 30.57|  10.28|  31.25|   4.0|536.0|
+---------+----------+------+----+-----+-----+-----+----+-----+-----+------+-------+-------+------+-----+
only showing top 20 rows

24933
15

In [12]:
# Filling the missing Values fill('value',['cl1','cl2',...]) wrt dtype
df_spark.na.fill(9999).show()

+---------+----------+------+------+------+-----+------+------+------+-----+------+-------+-------+------+------+
|     City|      Date|  PM25|  PM10|    NO|  NO2|   NOx|   NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene|   AQI|
+---------+----------+------+------+------+-----+------+------+------+-----+------+-------+-------+------+------+
|Ahmedabad|2015-01-01|9999.0|9999.0|  0.92|18.22| 17.15|9999.0|  0.92|27.64|133.36|    0.0|   0.02|   0.0|9999.0|
|Ahmedabad|2015-01-02|9999.0|9999.0|  0.97|15.69| 16.46|9999.0|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|9999.0|
|Ahmedabad|2015-01-03|9999.0|9999.0|  17.4| 19.3|  29.7|9999.0|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|9999.0|
|Ahmedabad|2015-01-04|9999.0|9999.0|   1.7|18.48| 17.97|9999.0|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|9999.0|
|Ahmedabad|2015-01-05|9999.0|9999.0|  22.1|21.42| 37.76|9999.0|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|9999.0|
|Ahmedabad|2015-01-06|9999.0|9999.0| 45.41|38.48|  81.5|9999.0| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|9999.0|
|Ahmedabad|2015-01-07|9999.0|9999.0|112.16|40.62|130.77|9999.0|112.16|32.28| 33.47|    0.0|    0.0|   0.0|9999.0|
|Ahmedabad|2015-01-08|9999.0|9999.0| 80.87|36.74| 96.75|9999.0| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|9999.0|
|Ahmedabad|2015-01-09|9999.0|9999.0| 29.16| 31.0|  48.0|9999.0| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|9999.0|
|Ahmedabad|2015-01-10|9999.0|9999.0|9999.0| 7.04|   0.0|9999.0|9999.0| 8.29|  4.55|    0.0|    0.0|   0.0|9999.0|
|Ahmedabad|2015-01-11|9999.0|9999.0|132.07| 55.8| 24.53|9999.0|132.07|25.03|  6.79|    0.0|    0.0|   0.0|9999.0|
|Ahmedabad|2015-01-12|9999.0|9999.0| 52.04|40.67| 90.24|9999.0| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|9999.0|
|Ahmedabad|2015-01-13|9999.0|9999.0| 48.82| 44.2| 87.09|9999.0| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|9999.0|
|Ahmedabad|2015-01-14|9999.0|9999.0|  19.2|27.86| 33.05|9999.0|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|9999.0|
|Ahmedabad|2015-01-15|9999.0|9999.0|   0.6|16.96|  16.6|9999.0|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|9999.0|
|Ahmedabad|2015-01-16|9999.0|9999.0|  1.63|21.72| 22.86|9999.0|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|9999.0|
|Ahmedabad|2015-01-17|9999.0|9999.0| 11.44|24.73| 34.75|9999.0| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|9999.0|
|Ahmedabad|2015-01-18|9999.0|9999.0|   6.1|25.77| 29.57|9999.0|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|9999.0|
|Ahmedabad|2015-01-19|9999.0|9999.0|  2.51|26.88| 27.45|9999.0|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|9999.0|
|Ahmedabad|2015-01-20|9999.0|9999.0|  7.92| 26.8|  32.4|9999.0|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|9999.0|
+---------+----------+------+------+------+-----+------+------+------+-----+------+-------+-------+------+------+
only showing top 20 rows

In [13]:
df_spark.show()

+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|     City|      Date|PM25|PM10|    NO|  NO2|   NOx| NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene| AQI|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
|Ahmedabad|2015-01-01|NULL|NULL|  0.92|18.22| 17.15|NULL|  0.92|27.64|133.36|    0.0|   0.02|   0.0|NULL|
|Ahmedabad|2015-01-02|NULL|NULL|  0.97|15.69| 16.46|NULL|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|NULL|
|Ahmedabad|2015-01-03|NULL|NULL|  17.4| 19.3|  29.7|NULL|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|NULL|
|Ahmedabad|2015-01-04|NULL|NULL|   1.7|18.48| 17.97|NULL|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|NULL|
|Ahmedabad|2015-01-05|NULL|NULL|  22.1|21.42| 37.76|NULL|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|NULL|
|Ahmedabad|2015-01-06|NULL|NULL| 45.41|38.48|  81.5|NULL| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|NULL|
|Ahmedabad|2015-01-07|NULL|NULL|112.16|40.62|130.77|NULL|112.16|32.28| 33.47|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-08|NULL|NULL| 80.87|36.74| 96.75|NULL| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-09|NULL|NULL| 29.16| 31.0|  48.0|NULL| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-10|NULL|NULL|  NULL| 7.04|   0.0|NULL|  NULL| 8.29|  4.55|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-11|NULL|NULL|132.07| 55.8| 24.53|NULL|132.07|25.03|  6.79|    0.0|    0.0|   0.0|NULL|
|Ahmedabad|2015-01-12|NULL|NULL| 52.04|40.67| 90.24|NULL| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|NULL|
|Ahmedabad|2015-01-13|NULL|NULL| 48.82| 44.2| 87.09|NULL| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|NULL|
|Ahmedabad|2015-01-14|NULL|NULL|  19.2|27.86| 33.05|NULL|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|NULL|
|Ahmedabad|2015-01-15|NULL|NULL|   0.6|16.96|  16.6|NULL|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|NULL|
|Ahmedabad|2015-01-16|NULL|NULL|  1.63|21.72| 22.86|NULL|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|NULL|
|Ahmedabad|2015-01-17|NULL|NULL| 11.44|24.73| 34.75|NULL| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|NULL|
|Ahmedabad|2015-01-18|NULL|NULL|   6.1|25.77| 29.57|NULL|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|NULL|
|Ahmedabad|2015-01-19|NULL|NULL|  2.51|26.88| 27.45|NULL|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|NULL|
|Ahmedabad|2015-01-20|NULL|NULL|  7.92| 26.8|  32.4|NULL|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|NULL|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+
only showing top 20 rows

In [18]:
# using Imputer from PySpark.ML to transform nulls in each attribute to their respective mean 
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['PM25','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene'],
    outputCols=[f'{c}_imputed' for c in ['PM25','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene'] ]
).setStrategy('mean')

imputer.fit(df_spark).transform(df_spark).show()

+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+-----------------+------------------+------------------+-----------+-----------+------------------+-----------------+-----------+----------+---------------+---------------+--------------+
|     City|      Date|PM25|PM10|    NO|  NO2|   NOx| NH3|    CO|  SO2|    O3|Benzene|Toluene|Xylene| AQI|     PM25_imputed|      PM10_imputed|        NO_imputed|NO2_imputed|NOx_imputed|       NH3_imputed|       CO_imputed|SO2_imputed|O3_imputed|Benzene_imputed|Toluene_imputed|Xylene_imputed|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+-----------------+------------------+------------------+-----------+-----------+------------------+-----------------+-----------+----------+---------------+---------------+--------------+
|Ahmedabad|2015-01-01|NULL|NULL|  0.92|18.22| 17.15|NULL|  0.92|27.64|133.36|    0.0|   0.02|   0.0|NULL|67.45057794890272|118.12710293078102|              0.92|      18.22|      17.15|23.483476019371977|             0.92|      27.64|    133.36|            0.0|           0.02|           0.0|
|Ahmedabad|2015-01-02|NULL|NULL|  0.97|15.69| 16.46|NULL|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|NULL|67.45057794890272|118.12710293078102|              0.97|      15.69|      16.46|23.483476019371977|             0.97|      24.55|     34.06|           3.68|            5.5|          3.77|
|Ahmedabad|2015-01-03|NULL|NULL|  17.4| 19.3|  29.7|NULL|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|NULL|67.45057794890272|118.12710293078102|              17.4|       19.3|       29.7|23.483476019371977|             17.4|      29.07|      30.7|            6.8|           16.4|          2.25|
|Ahmedabad|2015-01-04|NULL|NULL|   1.7|18.48| 17.97|NULL|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|NULL|67.45057794890272|118.12710293078102|               1.7|      18.48|      17.97|23.483476019371977|              1.7|      18.59|     36.08|           4.43|          10.14|           1.0|
|Ahmedabad|2015-01-05|NULL|NULL|  22.1|21.42| 37.76|NULL|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|NULL|67.45057794890272|118.12710293078102|              22.1|      21.42|      37.76|23.483476019371977|             22.1|      39.33|     39.31|           7.01|          18.89|          2.78|
|Ahmedabad|2015-01-06|NULL|NULL| 45.41|38.48|  81.5|NULL| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|NULL|67.45057794890272|118.12710293078102|             45.41|      38.48|       81.5|23.483476019371977|            45.41|      45.76|     46.51|           5.42|          10.83|          1.93|
|Ahmedabad|2015-01-07|NULL|NULL|112.16|40.62|130.77|NULL|112.16|32.28| 33.47|    0.0|    0.0|   0.0|NULL|67.45057794890272|118.12710293078102|            112.16|      40.62|     130.77|23.483476019371977|           112.16|      32.28|     33.47|            0.0|            0.0|           0.0|
|Ahmedabad|2015-01-08|NULL|NULL| 80.87|36.74| 96.75|NULL| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|NULL|67.45057794890272|118.12710293078102|             80.87|      36.74|      96.75|23.483476019371977|            80.87|      38.54|     31.89|            0.0|            0.0|           0.0|
|Ahmedabad|2015-01-09|NULL|NULL| 29.16| 31.0|  48.0|NULL| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|NULL|67.45057794890272|118.12710293078102|             29.16|       31.0|       48.0|23.483476019371977|            29.16|      58.68|     25.75|            0.0|            0.0|           0.0|
|Ahmedabad|2015-01-10|NULL|NULL|  NULL| 7.04|   0.0|NULL|  NULL| 8.29|  4.55|    0.0|    0.0|   0.0|NULL|67.45057794890272|118.12710293078102|17.574729662029284|       7.04|        0.0|23.483476019371977|2.248598209085598|       8.29|      4.55|            0.0|            0.0|           0.0|
|Ahmedabad|2015-01-11|NULL|NULL|132.07| 55.8| 24.53|NULL|132.07|25.03|  6.79|    0.0|    0.0|   0.0|NULL|67.45057794890272|118.12710293078102|            132.07|       55.8|      24.53|23.483476019371977|           132.07|      25.03|      6.79|            0.0|            0.0|           0.0|
|Ahmedabad|2015-01-12|NULL|NULL| 52.04|40.67| 90.24|NULL| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|NULL|67.45057794890272|118.12710293078102|             52.04|      40.67|      90.24|23.483476019371977|            52.04|      51.84|     45.89|           2.41|           0.03|          7.88|
|Ahmedabad|2015-01-13|NULL|NULL| 48.82| 44.2| 87.09|NULL| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|NULL|67.45057794890272|118.12710293078102|             48.82|       44.2|      87.09|23.483476019371977|            48.82|      68.21|     35.16|           9.45|          13.35|          12.5|
|Ahmedabad|2015-01-14|NULL|NULL|  19.2|27.86| 33.05|NULL|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|NULL|67.45057794890272|118.12710293078102|              19.2|      27.86|      33.05|23.483476019371977|             19.2|      52.65|     20.96|           2.16|           2.26|          5.19|
|Ahmedabad|2015-01-15|NULL|NULL|   0.6|16.96|  16.6|NULL|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|NULL|67.45057794890272|118.12710293078102|               0.6|      16.96|       16.6|23.483476019371977|              0.6|      28.89|     47.63|           0.14|           0.04|          1.35|
|Ahmedabad|2015-01-16|NULL|NULL|  1.63|21.72| 22.86|NULL|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|NULL|67.45057794890272|118.12710293078102|              1.63|      21.72|      22.86|23.483476019371977|             1.63|      38.27|     46.03|           0.35|           0.05|          2.01|
|Ahmedabad|2015-01-17|NULL|NULL| 11.44|24.73| 34.75|NULL| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|NULL|67.45057794890272|118.12710293078102|             11.44|      24.73|      34.75|23.483476019371977|            11.44|       49.5|     52.24|           0.68|            0.0|          3.27|
|Ahmedabad|2015-01-18|NULL|NULL|   6.1|25.77| 29.57|NULL|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|NULL|67.45057794890272|118.12710293078102|               6.1|      25.77|      29.57|23.483476019371977|              6.1|      48.43|     53.49|           0.74|           0.21|          2.75|
|Ahmedabad|2015-01-19|NULL|NULL|  2.51|26.88| 27.45|NULL|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|NULL|67.45057794890272|118.12710293078102|              2.51|      26.88|      27.45|23.483476019371977|             2.51|      50.03|     49.48|           0.26|           0.02|           2.8|
|Ahmedabad|2015-01-20|NULL|NULL|  7.92| 26.8|  32.4|NULL|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|NULL|67.45057794890272|118.12710293078102|              7.92|       26.8|       32.4|23.483476019371977|             7.92|      58.87|     56.37|           0.24|           0.01|          3.97|
+---------+----------+----+----+------+-----+------+----+------+-----+------+-------+-------+------+----+-----------------+------------------+------------------+-----------+-----------+------------------+-----------------+-----------+----------+---------------+---------------+--------------+
only showing top 20 rows

In [17]:
df_spark.describe().show()

+-------+-------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|summary|         City|             PM25|              PM10|                NO|               NO2|               NOx|               NH3|               CO|               SO2|               O3|           Benzene|           Toluene|            Xylene|               AQI|
+-------+-------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|  count|        29531|            24933|             18391|             25949|             25946|             25346|             19203|            27472|             25677|            25509|             23908|             21490|             11422|             24850|
|   mean|         NULL|67.45057794890272|118.12710293078102|17.574729662029284|28.560659061126763|32.309123333070055|23.483476019371977|2.248598209085598|14.531977255910002|34.49143047551808| 3.280840304500551| 8.700972080037232|3.0701278234985114| 166.4635814889336|
| stddev|         NULL|64.66144945715128| 90.60510971779476|22.785846333999626|24.474745795589442|31.646010936541806|25.684274996166913|6.962884254189273|18.133774845814642|21.69492819344469|15.811136420606866|19.969163657373937| 6.323247407143289|140.69658509414992|
|    min|    Ahmedabad|             0.04|              0.01|              0.02|              0.01|               0.0|              0.01|              0.0|              0.01|             0.01|               0.0|               0.0|               0.0|              13.0|
|    max|Visakhapatnam|           949.99|            1000.0|            390.68|            362.21|            467.63|            352.89|           175.81|            193.86|           257.73|            455.03|            454.85|            170.37|            2049.0|
+-------+-------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+

In [20]:
imputer = Imputer(
    inputCols=['PM25','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene','AQI'],
    outputCols=['PM25','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene','AQI'] 
).setStrategy('mean')

imputer.fit(df_spark).transform(df_spark).show()

+---------+----------+-----------------+------------------+------------------+-----+------+------------------+-----------------+-----+------+-------+-------+------+-----------------+
|     City|      Date|             PM25|              PM10|                NO|  NO2|   NOx|               NH3|               CO|  SO2|    O3|Benzene|Toluene|Xylene|              AQI|
+---------+----------+-----------------+------------------+------------------+-----+------+------------------+-----------------+-----+------+-------+-------+------+-----------------+
|Ahmedabad|2015-01-01|67.45057794890272|118.12710293078102|              0.92|18.22| 17.15|23.483476019371977|             0.92|27.64|133.36|    0.0|   0.02|   0.0|166.4635814889336|
|Ahmedabad|2015-01-02|67.45057794890272|118.12710293078102|              0.97|15.69| 16.46|23.483476019371977|             0.97|24.55| 34.06|   3.68|    5.5|  3.77|166.4635814889336|
|Ahmedabad|2015-01-03|67.45057794890272|118.12710293078102|              17.4| 19.3|  29.7|23.483476019371977|             17.4|29.07|  30.7|    6.8|   16.4|  2.25|166.4635814889336|
|Ahmedabad|2015-01-04|67.45057794890272|118.12710293078102|               1.7|18.48| 17.97|23.483476019371977|              1.7|18.59| 36.08|   4.43|  10.14|   1.0|166.4635814889336|
|Ahmedabad|2015-01-05|67.45057794890272|118.12710293078102|              22.1|21.42| 37.76|23.483476019371977|             22.1|39.33| 39.31|   7.01|  18.89|  2.78|166.4635814889336|
|Ahmedabad|2015-01-06|67.45057794890272|118.12710293078102|             45.41|38.48|  81.5|23.483476019371977|            45.41|45.76| 46.51|   5.42|  10.83|  1.93|166.4635814889336|
|Ahmedabad|2015-01-07|67.45057794890272|118.12710293078102|            112.16|40.62|130.77|23.483476019371977|           112.16|32.28| 33.47|    0.0|    0.0|   0.0|166.4635814889336|
|Ahmedabad|2015-01-08|67.45057794890272|118.12710293078102|             80.87|36.74| 96.75|23.483476019371977|            80.87|38.54| 31.89|    0.0|    0.0|   0.0|166.4635814889336|
|Ahmedabad|2015-01-09|67.45057794890272|118.12710293078102|             29.16| 31.0|  48.0|23.483476019371977|            29.16|58.68| 25.75|    0.0|    0.0|   0.0|166.4635814889336|
|Ahmedabad|2015-01-10|67.45057794890272|118.12710293078102|17.574729662029284| 7.04|   0.0|23.483476019371977|2.248598209085598| 8.29|  4.55|    0.0|    0.0|   0.0|166.4635814889336|
|Ahmedabad|2015-01-11|67.45057794890272|118.12710293078102|            132.07| 55.8| 24.53|23.483476019371977|           132.07|25.03|  6.79|    0.0|    0.0|   0.0|166.4635814889336|
|Ahmedabad|2015-01-12|67.45057794890272|118.12710293078102|             52.04|40.67| 90.24|23.483476019371977|            52.04|51.84| 45.89|   2.41|   0.03|  7.88|166.4635814889336|
|Ahmedabad|2015-01-13|67.45057794890272|118.12710293078102|             48.82| 44.2| 87.09|23.483476019371977|            48.82|68.21| 35.16|   9.45|  13.35|  12.5|166.4635814889336|
|Ahmedabad|2015-01-14|67.45057794890272|118.12710293078102|              19.2|27.86| 33.05|23.483476019371977|             19.2|52.65| 20.96|   2.16|   2.26|  5.19|166.4635814889336|
|Ahmedabad|2015-01-15|67.45057794890272|118.12710293078102|               0.6|16.96|  16.6|23.483476019371977|              0.6|28.89| 47.63|   0.14|   0.04|  1.35|166.4635814889336|
|Ahmedabad|2015-01-16|67.45057794890272|118.12710293078102|              1.63|21.72| 22.86|23.483476019371977|             1.63|38.27| 46.03|   0.35|   0.05|  2.01|166.4635814889336|
|Ahmedabad|2015-01-17|67.45057794890272|118.12710293078102|             11.44|24.73| 34.75|23.483476019371977|            11.44| 49.5| 52.24|   0.68|    0.0|  3.27|166.4635814889336|
|Ahmedabad|2015-01-18|67.45057794890272|118.12710293078102|               6.1|25.77| 29.57|23.483476019371977|              6.1|48.43| 53.49|   0.74|   0.21|  2.75|166.4635814889336|
|Ahmedabad|2015-01-19|67.45057794890272|118.12710293078102|              2.51|26.88| 27.45|23.483476019371977|             2.51|50.03| 49.48|   0.26|   0.02|   2.8|166.4635814889336|
|Ahmedabad|2015-01-20|67.45057794890272|118.12710293078102|              7.92| 26.8|  32.4|23.483476019371977|             7.92|58.87| 56.37|   0.24|   0.01|  3.97|166.4635814889336|
+---------+----------+-----------------+------------------+------------------+-----+------+------------------+-----------------+-----+------+-------+-------+------+-----------------+
only showing top 20 rows